<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRM</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <h2>Customer Relationship Management System</h2>
  </header>

  <div class="column-left">
    <p></p>
  </div>

  <div class="column-centre">
  <%= yield %>
  </div>

  <div class="column-right">
    <p></p>
  </div>

  <footer>
    Cobi Moos
  </footer>
</body>
</html>