

h1{
  text-align: center;
  border: 1px solid;
  background-color: #00FFFF;
}

#main_menu{
  font-weight: bold;
  font-size: 20px;
  margin:0 auto;
  width: 50%;
}

form{
  margin:0 auto;
  width: 50%;
}

.column-left{
  float: left;
  width: 33%;
}

.column-centre{
  display: inline-block;
  width: 33%;
}

.column-right{
  float: right;
  width: 33%;
}