
header{
  text-align: center;
  border: 1px solid;
  background-color: #938172;
}

body{

}

h1{
  text-align: center;
  border: 1px solid;
  background-color: #541F14;
}

#main_menu{
  font-weight: bold;
  font-size: 20px;

}

form{
  margin:0 auto;
  width: 50%;
}

.column-left{
  float: left;
  width: 30%;
}

.column-centre{
  display: inline-block;
  width: 40%;
  background-color: #CC9E61;
}

.column-right{
  float: right;
  width: 30%;
}